<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RateFastGonio.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>76486F978E64CCD7909EB821B8E1941BE1552149</string>
				<key>dateExpires</key>
				<string>24/05/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2Z3HYQ6CDW.com.scriptlanes.simpleGoniometer</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2Z3HYQ6CDW</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>2Z3HYQ6CDW.com.scriptlanes.simpleGoniometer</string>
				</array>
			</dict>
			<key>name</key>
			<string>RateFastGonio.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a5664774-e537-4dee-9bda-c091c1f21685</string>
				<key>name</key>
				<string>SimpleGonio_Adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2Z3HYQ6CDW</string>
				<key>name</key>
				<string>Script Lanes</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
